.container.detailview {
    max-width: 100%;
}
.box-shadow.detailview {
    width: 100%;
    height: 500px;
}
.card-img-top.detailview {
    /* width: 100%; */
    height: 500px;
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    object-fit: cover;
}

@media (max-width: 600px) {
    input.reviewInput {
        width: 45% !important;
    }
}
@media (max-width: 700px) {
    input.reviewInput {
        width: 50% !important;
    }
}
@media (max-width: 400px) {
    input.reviewInput {
        width: 70% !important;
    }
    button.btn.btn-sm.btn-outline-secondary.submitreview{   
        margin-top: 10px !important;
        margin-left: 70px !important;
        width: 70% !important;
    }
}


small.text-muted.detailview {
    font-size: 15px;
}
img.card-img-top.reviewimg {
    height: 50px;
    width: 50px;
    border-radius: 4px;
}
.justify-content-between.reviewText {
    margin-left: 21px;
        margin-top: 0px;
}
h3.reviewText{
    margin: 0;
    font-size: 20px;
    color: #007bff;
}
span.textReviewDate {
    margin-left: 10px;
}

.reviewText {
    margin-top: 10px;
}
input.reviewInput {
    width: 72%;
    height: 50px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 4px;
    padding-left: 10px;
}

button.btn.btn-sm.btn-outline-secondary.submitreview {
    height: 48px;
    background-color: #007bff;
    color: white;
    border: 0px;
    width: 100px;
    margin-top: -7px;
}
.saperater {
    width: 100%;
    height: 2px;
    background: #007bff;
    margin-bottom: 30px;
}
h1.comments {
    margin-top: 50px;
    font-size: 29px;
}
span.text-muted.textReviewDate {
    font-size: 11px;
    /* vertical-align: bottom; */
    margin-top:5px;
}

.d-flex.justify-content-between.align-items-center {
    margin-bottom: 31px;
}