:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
button.btn.btn-primary.btn {
    margin-top: 19px;
    width: 200px;
}
input.SearchInput {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}
h1.jumbotron-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card.mb-3.box-shadow:hover {
    box-shadow: 0 0.25rem 5.75rem rgba(0, 0, 0, 0.6);
   /* margin-top: -10px;*/
}
.card.mb-3.box-shadow:active {
    box-shadow: 0 0.25rem 5.75rem rgba(0, 0, 0, 0.3) !important;
}
/*.col-md-4:active {
    margin-top: 10px;
}*/
.container.d-flex.justify-content-between {
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    max-width: 1500px;
}
input.SearchInput{
  height:40px;
}
button.btn.btn-sm.btn-outline-secondary.search {
    height: 36px;
    margin-top: -4PX;
    margin-left: 15px;
}
img.profileImage{
  height:100px;
  width:100px;
  border-radius: 50px;
}
.card-img-top{
  height:250px;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
