<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>MovieGallery</strong>
          </a>
          <div>
            <input key-bind="$event.keyCode == 13 && searcMovie()" class='SearchInput' (keyup)="onInputTextEdit($event,$event.keyCode)" type="text" placeholder="Search for movies..">
             <button type="button" (click)="searchMovie()" class="btn btn-sm btn-outline-secondary search">Search
             </button>
          </div>
        </div>
    </div>
</header>

<main role="main">


    <section class="jumbotron text-center">
        <div class="container heightset">
            <div *ngIf='UserRegistrationService.user | async as user' style="margin-top:20px">
                <img class='profileImage' [src]="user.photoURL">
                <h1 class="jumbotron-heading">Hello {{user.displayName}}</h1>
            </div>
            
            <p>
                <button *ngIf='UserRegistrationService.user | async as user' class="btn btn-primary btn" (click)="logout()">logout</button>

            </p>

            <p>{{searchValue}}</p>
        </div>
    </section>



    <div class="album py-5 bg-light searchresut">
      <div *ngIf= "loading === true "  class="myContainer"> <img clasName="loagingimage" src="/assets/images/Spinner-0.5s-200px.svg" ></div>
        <div [@queryAnimation]='goAnimate' class="container">
            <h1  class="jumbotron-heading">{{searchResult}}</h1>
            <div  [@listAnimation]='responseData' class="row" >
                <div *ngFor="let movie of responseData; let i = index" class="col-md-3">
                    <div class="card mb-3 box-shadow">
                      <div (click)='onClickedCard(movie)'>
                        <img class="card-img-top" data-src={{movie.Poster}} alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{movie.Title}}</p>
                            
                        </div>
                      </div>
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                            <button type="submit" (click)="pushTOMyMovie(movie)" class="btn btn-sm btn-outline-secondary">Add to gallery</button>
                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                        </div>
                                                    <small class="text-muted">Year {{movie.Year}}</small>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="album py-5 bg-light mygallery">
        <div  *ngIf='UserRegistrationService.user | async as user' class="container">
            <h1 class="jumbotron-heading"> MY GALLERY</h1>
            <div [@listAnimation]="proyectos" class="row">
                <div *ngFor='let mov of proyectos | async' class="col-md-3" >
                    <div class="card mb-3 box-shadow" >
                        <div (click)='onClickedCard(mov)'>
                            <img class="card-img-top" data-src={{mov.Poster}} alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{mov.Title}}</p>                                
                            </div>
                        </div>
                        <div class="card-body d-flex justify-content-between align-items-center">
                          <div class="container">

    <!-- regular rating -->
    <rating [(ngModel)]="starsCount"></rating>
    <br/><br/>

    <!-- rating with 10 stars -->
    <rating [(ngModel)]="starsCount"
            [max]="10">
    </rating>
    <br/><br/>

    <!-- rating with custom icons -->
    <rating [(ngModel)]="starsCount"
            fullIcon="◆"
            emptyIcon="◇">
    </rating>
    <br/><br/>

    <!-- rating readonly -->
    <rating [(ngModel)]="starsCount"
            [readonly]="true">
    </rating>
    <br/><br/>

    <!-- rating disabled -->
    <rating [(ngModel)]="starsCount"
            [disabled]="true">
    </rating>
    <br/><br/>

    <!-- rating required -->
    <rating [(ngModel)]="starsCount"
            [required]="true">
    </rating>
    <br/><br/>

    <!-- rating with half stars -->
    <rating [(ngModel)]="starsCount"
            [float]="true">
    </rating>
    <br/><br/>

    <!-- rating with custom titles -->
    <rating [(ngModel)]="starsCount"
            [titles]="['one', 'two', 'three', 'four', 'five']">
    </rating>
    <br/><br/>

</div>      <div class="btn-group">
                                <button type="button" (click)="deleteSth(mov.key)" class="btn btn-sm btn-outline-secondary">Remove</button>
                            </div>
                            <small class="text-muted">Year {{mov.Year}}</small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</main>